*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    /* background-image: url(../images/wp4340126-spring-summer-autumn-winter-wallpapers.jpg); */
    background: linear-gradient(90deg, rgba(254,140,0,1) 0%, rgba(248,54,0,1) 74%); 
    /* background-repeat: repeat-y; */
    /* background-attachment: fixed; */
    /* background-size: 100% ; */
    padding: 10px;
}
/* ######################### Start-Header ######################### */ 
header{
    width: 100%;
    height: auto; 
    background-color: none; 
    /* padding: 10px 10px 0 10px; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; 
}

header>#head>h1{
    text-align: center;
    text-shadow: 0 0 5px black;
    color:white;
    text-transform: capitalize;
    font-size: 50pt; 
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}
header>#head>#searchBox{
    width: 50%; 
    margin: auto; 
    display: flex; 
    flex-wrap: wrap;
} 
#searchBox>input{
    width: 70%;
    height: 30px; 
    outline: none;
    border: none;
    border-radius: 5px; 
    padding: 20px 15px; 
    margin: auto;
    margin-right: 10px;
    text-transform: capitalize;
    font-size: 20px; 
} 

#searchBox>#searchBtn{
    /* width: 10%; */
    margin: auto;
    margin-left: 0; 
    padding: 7px 10px 5px 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    outline: none; 
}
#searchBox>#searchBtn:hover{ 
    cursor: pointer; 
} 
nav{
    width: 100%;
    height: auto; 
    border-radius: 10px; 
    margin: 0;
}
nav>ul{
    width: 100%; 
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px; 
    margin-bottom: 0;

} 
nav>ul>li{ 
    width: 150px;
    height: 100%; 
    /* margin-left: 10px; 
    margin-bottom: 10px;  */
    display: flex;
} 
nav>ul>li>a{
    display: block;
    width: 100%; 
    text-decoration: none;
    text-transform: capitalize; 
    margin: auto; 
} 

/* end-navbar */
/* ######################### End-Header ######################### */
/* ######################### Start-Content ######################### */
main{
    width: 100%; 
    text-transform: capitalize;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

main>#info{
    border-radius: 5px;
    width: 90%; 
    background-color: #fff;
    /*  */
    display: flex;
    flex-direction: row; 
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
} 
#info>.icon{ 
    width: 20%; 
    color: coral; 
} 
#info>.content{ 
    width: 70%; 
    display: flex;
    justify-content: center;
} 
#info span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
} 
#info>.icon>span{ 
    width: 100%; 
    font-size: 5em; 
    /* background-color: yellow; */
}
#info>.content>span{
    width: 34%;
    height: 100%;
    font-size: 2em;
    font-weight: bold;
    /* background-color: aqua; */
}

@media screen and (max-width: 550px){
    #info>.icon{ 
        width: 50%; 
    } 
    #info>.icon>span{ 
        height: 100%;
        font-size: 7em; 
    } 
    #info>.content{ 
        flex-direction: column;
    }
    #info>.content>span{
        width: 100%;
        height: 34%; 
    }
    #info>.content>span:not(:last-child){ 
        border-bottom: 1px solid black;
    } 
}
/* ######################### End-Content ######################### */
/* ######################### Start-Footer ######################### */
/* ######################### End-Footer ######################### */
